[flake8]
extend-ignore =
    # Indentation
    E1
    W1
    # Whitespace
    E2
    W2
    # Blank lines
    E3
    W3
    # Imports
    E4
    W4
    # Line length
    E5
    W5
    # No lambdas
    E731
per-file-ignores =
    pso_blender/rel_export_menu.py: F722 F821
    pso_blender/rel_import_menu.py: F722 F821
    pso_blender/rel_properties_menu.py: F722 F821
    pso_blender/__init__.py: F401 F403 F405
