[flake8]
extend-ignore =
    # Indentation
    E1
    W1
    # Whitespace
    E2
    W2
    # Blank lines
    E3
    W3
    # Imports
    E4
    W4
    # Line length
    E5
    W5
    # No lambdas
    E731
per-file-ignores =
    rel_addon/export_menu.py: F722 F821
    rel_addon/properties_menu.py: F722 F821
    rel_addon/__init__.py: F403 F405
